.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  word-wrap: normal;
}

.visually-hidden--visible {
  clip: unset;
  overflow: unset;
  height: auto;
  width: auto;
  margin: 0;
}
