@layer layout {
  @property --background1 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
  }

  @property --background2 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
  }

  @property --background3 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
  }

  .post {
    --contentWidth: 740px;
    --gutterWidth: 100px;
    --mainColumn: 3;

    @media (--mediaTablet) {
      --mainColumn: 1;
    }

    @media (--mediaLaptop) {
      --contentWidth: 680px;
      --gutterWidth: 60px;
    }

    @media (max-width: 1096px) {
      --contentWidth: 660px;
      --gutterWidth: 50px;
    }

    position: relative;
    display: grid;
    overflow-x: hidden;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr var(--gutterWidth) var(--contentWidth) var(--gutterWidth) 1fr;
    gap: var(--gutter);
    align-items: center;

    @media (--mediaTablet) {
      grid-template-columns: 100%;
    }
  }

  .headerText {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-top: var(--space5XL);
    gap: var(--space2XL);
    max-width: 800px;
    grid-column: 3;

    @media (--mediaTablet) {
      grid-column: 1;
      gap: var(--spaceXL);
      max-width: none;
    }

    @media (--mediaMobile), (--mediaMobileLS) {
      padding: calc(var(--mobileNavOffset) + var(--spaceL)) 0 0;
    }
  }

  .date {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: var(--spaceM);
    align-items: center;
    position: relative;

    @media (--mediaTablet) {
      gap: var(--spaceS);
    }
  }

  .dateText {
    color: var(--primary);
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
    transition: opacity var(--durationXL) ease;

    @media (--mediaUseMotion) {
      transition: opacity var(--durationXL) ease,
        transform var(--durationXL) var(--bezierFastoutSlowin);
    }

    &[data-visible='true'] {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes postTitleWord {
    from {
      transform: translate3d(0, 110%, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .titleWordWrapper {
    overflow: hidden;
    position: relative;
    display: inline-flex;
  }

  .titleWord {
    display: inline-flex;
    white-space: pre;

    @media (--mediaUseMotion) {
      transform: translate3d(0, 110%, 0);
      animation-name: postTitleWord;
      animation-timing-function: var(--bezierFastoutSlowin);
      animation-duration: var(--durationXL);
      animation-delay: var(--delay);
      animation-fill-mode: forwards;
    }
  }

  .banner {
    position: absolute;
    inset: calc(var(--gutterWidth) * -1);
    top: 0;
    height: 70vh;
    isolation: isolate;
    overflow: hidden;

    @media (--mediaTablet) {
      inset: 0;
    }

    @media (--mediaMobile) {
      inset: calc(var(--spaceOuter) * -1);
    }

    &::after {
      --background1: color-mix(in lab, var(--background) 70%, transparent);
      --background2: color-mix(in lab, var(--background) 90%, transparent);
      --background3: var(--background);

      content: '';
      position: absolute;
      inset: 0;
      z-index: var(--zIndex1);
      transition: var(--durationM) ease;
      transition-property: --background1, --background2, --background3;

      background: linear-gradient(
        var(--background1),
        var(--background2),
        var(--background3)
      );

      @supports (background: linear-gradient(in lab, red, red)) {
        background: linear-gradient(
          in lab,
          var(--background1),
          var(--background2),
          var(--background3)
        );
      }
    }

    & img,
    & video {
      height: 70vh;
      width: 100%;
      object-fit: cover;
    }
  }

  .bannerImage,
  .bannerImageBlur {
    position: absolute;
    inset: 0;
  }

  .bannerImageBlur {
    opacity: var(--blurOpacity, 0);
    transform: translateZ(0);
    will-change: opacity;
  }

  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spaceM);
  }

  .arrow {
    position: relative;
    left: calc(var(--spaceL) * -1);
    padding: var(--spaceL);
    opacity: 0;

    &:global {
      animation: fade-in 0.6s var(--bezierFastoutSlowin) 1s forwards;
    }

    & svg {
      stroke: color-mix(in lab, var(--text) 50%, transparent);
    }

    @media (--mediaTablet) {
      left: calc(var(--spaceL) * -1);
    }

    @media (--mediaMobile) {
      position: relative;
      align-self: flex-start;
    }
  }

  .timecode {
    color: var(--textLight);
    font-size: 16px;
    padding: var(--spaceL) 0;
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr;
    gap: 10px;
    opacity: 0;

    &:global {
      animation: fade-in 0.6s var(--bezierFastoutSlowin) 1s forwards;
    }

    &::before {
      content: '';
      height: 2px;
      background: color-mix(in lab, var(--text) 40%, transparent);
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--space2XL);
    padding-top: calc(var(--gutterWidth) + var(--space2XL));
    overflow: hidden;

    @media (--mediaTablet) {
      padding-top: calc(var(--gutterWidth) + var(--spaceXL));
    }
  }

  .content {
    width: 100%;
    align-self: center;
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr var(--gutterWidth) var(--contentWidth) var(--gutterWidth) 1fr;

    &:global {
      animation: fade-in 1.2s var(--bezierFastoutSlowin) 1s forwards;
    }

    @media (--mediaTablet) {
      grid-template-columns: 100%;
    }

    & > * {
      grid-column: var(--mainColumn);
    }
  }
}
