{
  "extends": "react-app",
  "plugins": ["react-hooks"],
  "rules": {
    "import/no-anonymous-default-export": 0,
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "semi": "error"
  }
}
