{
  "env": {
    "es6": true
  },
  "extends": ["eslint:recommended", "next/core-web-vitals"],
  "rules": {
    "semi": "error",
    "no-unused-vars": "warn",
    "import/no-anonymous-default-export": "off",
    "react/display-name": "off",
    "@next/next/no-img-element": "off"
  }
}
