{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "selector-class-pattern": "^[a-z][a-zA-Z0-9]+$",
    "custom-property-pattern": "^[a-z][a-zA-Z0-9]+$",
    "selector-id-pattern": null,
    "string-quotes": "single",
    "declaration-block-no-redundant-longhand-properties": null,
    "value-keyword-case": null,
    "alpha-value-notation": "number",
    "declaration-colon-newline-after": null,
    "indentation": null,
    "selector-combinator-space-before": null,
    "value-list-comma-newline-after": null,
    "custom-media-pattern": "^[a-z][a-zA-Z0-9]+$",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
