{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-css-modules"
  ],
  "rules": {
    "string-quotes": "single",
    "selector-class-pattern": "^[a-z][a-zA-Z0-9]+$",
    "custom-property-pattern": "^[a-z][a-zA-Z0-9]+$",
    "custom-media-pattern": "^[a-z][a-zA-Z0-9]+$",
    "keyframes-name-pattern": "^[a-z][a-zA-Z0-9]+$",
    "selector-id-pattern": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "value-keyword-case": ["lower", { "camelCaseSvgKeywords": true }],
    "alpha-value-notation": "number",
    "no-descending-specificity": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
