.post {
  --paraSpace: 26px;
  --headingSpace: 24px;
  --lineHeightBody: 1.8;
  --contentWidth: 740px;
  --gutterWidth: 80px;

  @media (--mediaLaptop) {
    --contentWidth: 680px;
    --gutterWidth: 60px;
  }

  @media (max-width: 1096px) {
    --contentWidth: 660px;
    --gutterWidth: 50px;
  }

  position: relative;
  display: flex;
  flex-direction: column;

  @media (--mediaLaptop) {
    --paraSpace: 18px;
    --headingSpace: 20px;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr var(--gutterWidth) var(--contentWidth) var(--gutterWidth) 1fr;
  gap: var(--gutter);
  align-items: center;

  @media (--mediaTablet) {
    grid-template-columns: 100%;
  }
}

.headerText {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  flex-direction: column;
  padding-top: var(--gutterWidth);
  gap: var(--space2XL);
  max-width: 800px;
  grid-column: 3;

  @media (--mediaTablet) {
    grid-column: 1;
    gap: var(--spaceXL);
  }

  @media (--mediaMobile), (max-width: 820px) and (max-height: 420px) {
    padding: var(--mobileNavOffset) 0 0;
  }
}

.date {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: var(--spaceM);
  align-items: center;
  position: relative;

  @media (--mediaTablet) {
    gap: var(--spaceS);
  }
}

.dateText {
  color: rgb(var(--rgbPrimary));
  opacity: 0;
  transform: translate3d(-5%, 0, 0);
  transition: opacity var(--durationXL) ease;

  @media (--mediaUseMotion) {
    transition: opacity var(--durationXL) ease,
      transform var(--durationXL) var(--bezierFastoutSlowin);
  }

  &[data-visible='true'] {
    opacity: 1;
    transform: none;
  }
}

@keyframes postTitleWord {
  from {
    transform: translate3d(0, 110%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.titleWordWrapper {
  overflow: hidden;
  position: relative;
  display: inline-flex;
}

.titleWord {
  display: inline-flex;

  @media (--mediaUseMotion) {
    transform: translate3d(0, 110%, 0);
    animation-name: postTitleWord;
    animation-timing-function: var(--bezierFastoutSlowin);
    animation-duration: 1.2s;
    animation-delay: var(--delay);
    animation-fill-mode: forwards;
  }
}

.banner {
  position: absolute;
  inset: calc(var(--gutterWidth) * -1);
  top: 0;
  height: 60vh;
  isolation: isolate;
  overflow: hidden;

  @media (--mediaTablet) {
    inset: 0;
  }

  @media (--mediaMobile) {
    inset: calc(var(--spaceOuter) * -1);
  }

  &::after {
    --background1: rgb(var(--rgbBackground) / 0.7);
    --background2: rgb(var(--rgbBackground));

    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(180deg, var(--background1), var(--background2));
  }
}

.bannerImage {
  position: absolute;
  inset: 0;
  filter: blur(var(--blur));

  & img,
  & video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.headerFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spaceM);
}

.headerArrow {
  position: relative;
  left: -10px;
  padding: 20px;
  opacity: 0;

  &:global {
    animation: fadeIn 0.6s var(--bezierFastoutSlowin) 1s forwards;
  }

  & svg {
    stroke: rgb(var(--rgbText) / 0.5);
  }

  @media (--mediaTablet) {
    left: -20px;
  }

  @media (--mediaMobile) {
    position: relative;
    align-self: flex-start;
  }
}

.headerReadTime {
  color: var(--colorTextLight);
  font-size: 16px;
  padding: 20px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 60px 1fr;
  gap: 10px;
  opacity: 0;

  &:global {
    animation: fadeIn 0.6s var(--bezierFastoutSlowin) 1s forwards;
  }

  &::before {
    content: '';
    height: 2px;
    background: rgb(var(--rgbText) / 0.4);
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--space2XL);
  margin-top: calc(var(--gutterWidth) + var(--space4XL));
  scroll-margin-top: var(--spaceOuter);

  @media (--mediaTablet) {
    margin-top: calc(var(--gutterWidth) + var(--space2XL));
  }

  @media (--mediaMobile) {
    scroll-margin-top: var(--mobileNavOffset);
  }
}

.content {
  width: 100%;
  align-self: center;
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr var(--gutterWidth) var(--contentWidth) var(--gutterWidth) 1fr;

  &:global {
    animation: fadeIn 1.2s var(--bezierFastoutSlowin) 1s forwards;
  }

  @media (--mediaTablet) {
    grid-template-columns: 100%;
  }
}

.heading {
  grid-column: 3;
  position: relative;

  @media (--mediaTablet) {
    grid-column: 1;
  }

  @nest .heading + & {
    margin-top: var(--headingSpace);
  }

  @nest .paragraph + & {
    margin-top: var(--headingSpace);
  }
}

.headingElement {
  scroll-margin-top: calc(var(--spaceOuter) + var(--spaceS));

  @media (--mediaMobile) {
    scroll-margin-top: var(--mobileNavOffset);
  }
}

.headingLink {
  color: rgb(var(--rgbTextLight));
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  padding: var(--spaceS);
  opacity: 0;
  transition: opacity var(--durationS) ease;

  @nest .heading:hover &, &:focus {
    opacity: 1;
  }

  @media (--mediaMobile) {
    padding: 0;
  }
}

.paragraph {
  grid-column: 3;

  @nest .heading + & {
    margin-top: var(--headingSpace);
  }

  & + & {
    margin-top: var(--paraSpace);
  }

  @media (--mediaTablet) {
    grid-column: 1;
  }

  @media (--mediaMobile) {
    hyphens: auto;
  }
}

.image {
  margin: 80px 0;
  max-width: 100%;
  width: 100%;
  height: auto;
  grid-column: 2 / span 3;

  @media (--mediaTablet) {
    grid-column: 1;
    margin: 60px 0;
  }
}

.code {
  color: var(--colorTextLight);
  background: rgb(var(--rgbText) / 0.08);
  padding: 0.2em 0.4em;
  font-size: 0.9em;
}

.pre {
  grid-column: 3;
  margin: var(--space3XL) calc(var(--space2XL) * -1);

  & + & {
    margin-top: 0;
  }

  @media (--mediaTablet) {
    margin: var(--space2XL) calc(var(--spaceXL) * -1);
    grid-column: 1;
  }

  @media (--mediaMobile) {
    margin: var(--space2XL) calc(var(--spaceOuter) * -1);
  }
}
