.heading {
  position: relative;
  scroll-margin-top: calc(var(--spaceOuter) + var(--spaceS));

  @media (--mediaMobile) {
    scroll-margin-top: var(--mobileNavOffset);
  }

  @nest .heading + & {
    margin-top: 0.8em;
  }

  @nest :where(.paragraph, .ul, .ol) + & {
    margin-top: 1.6em;
  }
}

.headingLink {
  color: rgb(var(--rgbTextLight));
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  padding: var(--spaceS);
  opacity: 0;
  transition: opacity var(--durationS) ease;

  @nest .heading:hover &, &:focus {
    opacity: 1;
  }

  @media (--mediaMobile) {
    padding: 0;
  }
}

.paragraph {
  --lineHeightBody: 1.7;

  @nest .heading + & {
    margin-top: 1em;
  }

  & + & {
    margin-top: 1.4em;
  }

  @media (--mediaMobile) {
    hyphens: auto;
  }
}

.image {
  margin: 80px 0;
  max-width: 100%;
  width: 100%;
  height: auto;
  grid-column: 2 / span 3;

  & + & {
    margin-top: 0;
  }

  @media (--mediaTablet) {
    grid-column: 1;
    margin: 60px 0;
  }
}

.code {
  color: var(--colorTextLight);
  background: rgb(var(--rgbText) / 0.08);
  padding: 0.2em 0.4em;
  font-size: 0.9em;
}

.pre {
  margin: var(--space3XL) calc(var(--space2XL) * -1);

  & + & {
    margin-top: 0;
  }

  @media (--mediaTablet) {
    margin: var(--space2XL) calc(var(--spaceXL) * -1);
  }

  @media (--mediaMobile) {
    margin: var(--space2XL) calc(var(--spaceOuter) * -1);
  }
}

.hr {
  margin: var(--space3XL) 0;
  border: 0;
  border-top: 1px solid rgb(var(--rgbText) / 0.1);

  @media (--mediaTablet) {
    margin: var(--space2XL) 0;
  }

  @media (--mediaMobile) {
    margin: var(--space2XL) 0;
  }
}

.ul,
.ol {
  margin: 1.2em 0;
}

.li {
  position: relative;
}

.ul {
  --bulletSize: 24px;

  list-style-type: none;

  & .li::before {
    content: '';
    display: block;
    width: var(--bulletSize);
    height: var(--bulletSize);
    background-color: rgb(var(--rgbAccent));
    position: absolute;
    left: calc((0.7em - (var(--bulletSize) / 2)) * -1);
    top: 0.2em;
    transform: translateX(-100%);
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.586 12L7.793 6.207l1.414-1.414 6.5 6.5.707.707-.707.707-6.5 6.5-1.414-1.414L13.586 12z"/></svg>');
  }
}

.blockquote {
  margin: var(--space3XL) 0;
  padding: 0.8em 0 0.8em 2em;
  border-left: 2px solid rgb(var(--rgbAccent));
  color: var(--colorTextLight);

  & > .paragraph {
    color: inherit;
  }

  @media (--mediaTablet) {
    margin: var(--space2XL) 0;
  }

  @media (--mediaMobile) {
    margin: var(--space2XL) 0;
  }
}
