.articles {
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-rows: 1fr auto;
  min-height: 100%;
}

.content {
  --contentWidth: 640px;

  display: grid;
  grid-template-columns: minmax(0, var(--contentWidth));
  padding-top: var(--spaceOuter);
  padding-bottom: var(--space4XL);
  gap: var(--space2XL);

  @media (--mediaLaptop) {
    --contentWidth: 560px;

    gap: var(--spaceXL);
  }

  @media (--mediaTablet) {
    --contentWidth: 480px;
  }

  @media (--mediaMobile) {
    padding-top: 100px;
  }
}

.header {
  padding: var(--spaceM) 0 var(--spaceXL);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  @media (--mediaMobile) {
    padding-bottom: var(--spaceL);
  }
}

.heading {
  white-space: nowrap;
  overflow: hidden;
}

.list {
  display: grid;
  gap: var(--space3XL);
  margin-top: var(--space2XL);

  @media (--mediaLaptop) {
    margin-top: var(--spaceL);
  }

  @media (--mediaTablet) {
    gap: var(--space2XL);
  }

  @media (--mediaMobile) {
    margin-top: var(--spaceM);
  }
}

.divider {
  border: 0;
  border-top: 1px solid rgb(var(--rgbText) / 0.1);
}

.post {
  --backgroundOutset: var(--space3XL);
  --backgroundClip: polygon(
    0 0,
    100% 0,
    100% calc(100% - 32px),
    calc(100% - 32px) 100%,
    0 100%
  );

  position: relative;
  isolation: isolate;
  margin: calc(var(--backgroundOutset) / 2) 0;

  &[data-featured='true'] {
    margin: var(--backgroundOutset) 0;
  }

  @media (--mediaTablet) {
    --backgroundOutset: var(--spaceXL);
  }

  @media (--mediaMobile) {
    --backgroundOutset: var(--spaceOuter);
  }
}

.postLabel,
.postTag {
  position: absolute;
  background-color: rgb(var(--rgbBackground));
  padding: var(--spaceXS) var(--spaceM);
  z-index: 1;
  color: var(--colorTextLight);
}

.postLabel {
  top: calc(var(--backgroundOutset) * -1);
  left: calc(var(--spaceM) * -1);
  transform: translateY(-50%);
}

.postTag {
  bottom: 30%;
  right: calc(var(--backgroundOutset) * -1);
  transform: translateX(50%) rotate(-90deg);
}

.postContent {
  display: flex;
  position: relative;

  &[data-featured='false']::before {
    content: '';
    position: absolute;
    inset: calc(var(--backgroundOutset) * -1);
    background-color: rgb(var(--rgbBackgroundLight));
    opacity: 0;
    transition: opacity var(--durationM) ease;
    clip-path: var(--backgroundClip);

    &:hover {
      opacity: 1;
    }
  }
}

.postDate {
  display: grid;
  grid-template-columns: 128px 1fr;
  gap: var(--spaceM);
  align-items: center;
  color: rgb(var(--rgbPrimary));
  justify-self: stretch;
  margin-bottom: var(--spaceS);
}

.postImage {
  position: absolute;
  inset: calc(var(--backgroundOutset) * -1);
  display: grid;
  place-content: stretch;
  overflow: hidden;
  clip-path: var(--backgroundClip);
  isolation: isolate;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    mix-blend-mode: luminosity;
    background-image: linear-gradient(
      90deg,
      rgb(var(--rgbBackgroundLight) / 0.87) 0%,
      rgb(var(--rgbBackgroundLight) / 0.82) 30%,
      rgb(var(--rgbBackgroundLight) / 0.6) 100%
    );
  }

  & :where(img, video) {
    object-fit: cover;
    height: 100%;
  }
}

.postDetails {
  position: relative;
  display: grid;
  justify-items: start;
  gap: var(--spaceL);
}

.postFooter {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-self: stretch;

  & button {
    position: relative;
    left: -8px;
  }
}

.timecode {
  display: flex;
  align-items: center;
  gap: var(--spaceM);

  &::before {
    content: '';
    width: 42px;
    height: 2px;
    background-color: rgb(var(--rgbText) / 0.2);
  }
}
