.Intro {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Intro__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Intro__background canvas {
  position: absolute;
  animation: background-fade 3s var(--bezier-fastout-slowin) 0.5s forwards;
  opacity: 0;
}

@keyframes background-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes text-reveal {
  0% { color: rgba(var(--color-text), 0); }
  50% { color: rgba(var(--color-text), 0); }
  60% { color: rgba(var(--color-text), 1); }
  100% { color: rgba(var(--color-text), 1); }
}

@keyframes text-reveal-mask {
  0% {
    opacity: 1;
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
  51% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    opacity: 1;
    transform: scaleX(0);
    transform-origin: right;
  }
}

.Intro__text {
  max-width: 800px;
  width: 100%;
  position: relative;
  top: -20px;
  padding: 0 var(--spacing-outer);
}

@media (max-width: 600px) {
  .Intro__text {
    top: 0;
  }
}

.Intro__name {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 60px;
  margin-top: 0;
  font-weight: 500;
}

@media (max-width: 860px) {
  .Intro__name {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .Intro__name {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.Intro__title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  margin: 0;
  letter-spacing: -0.005em;
  font-weight: 500;
}

@media (max-width: 860px) {
  .Intro__title {
    font-size: 80px;
  }
}

@media (max-width: 600px) {
  .Intro__title {
    font-size: 42px;
  }
}

.Intro__title-word {
  position: relative;
  display: flex;
  align-items: center;
  animation: text-reveal 1.5s var(--bezier-fastout-slowin) forwards;
  color: rgba(var(--color-text), 0);
}

.Intro__title-row:last-child .Intro__title-word,
.Intro__title-row:last-child .Intro__title-word:after {
  animation-delay: 0.3s;
}

.Intro__title-word:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(var(--color-primary), 1);
  opacity: 0;
  animation: text-reveal-mask 1.5s var(--bezier-fastout-slowin) forwards;
  transform-origin: left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes line-intro {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.Intro__title-line {
  content: '';
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  width: 120%;
  display: flex;
  margin-left: 20px;
  animation: line-intro 0.8s var(--bezier-fastout-slowin) 1s forwards;
  transform-origin: left;
  opacity: 0;
}

.Intro__title-word--plus:before {
  content: '+';
  margin-right: 10px;
  opacity: 0.4;
}

.Intro__title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
