.RetroIntro {
  --color-hot-pink: 255, 18, 255;

  background: linear-gradient(to bottom, rgba(var(--color-background), 1) 0%, #040C4A 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.RetroIntro__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.RetroIntro__background canvas {
  position: absolute;
}

.RetroIntro__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*mix-blend-mode: screen;*/
  display: none;
}

.RetroIntro__text {
  text-align: center;
  position: relative;
}

.RetroIntro__title {
  margin: 0;
}

.RetroIntro__title-word {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 80px;
}

.RetroIntro__title-sub {
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Neo Noire', sans-serif;
  color: rgba(var(--color-hot-pink), 1);
  background: -webkit-linear-gradient(rgba(var(--color-hot-pink), 1), rgba(var(--color-hot-pink), 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  transform: rotate(-4deg);
  position: relative;
  top: -40px;
}

.RetroIntro__title-sub:after {
  content: attr(data-text);
  background: -webkit-linear-gradient(#01FFDF, #22A7EA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(var(--color-primary), 1);
  position: absolute;
  left: -2px;
  top: -4px;
}

.RetroIntro__name {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.2em;
  color: rgba(var(--color-text), 0.8);
  margin: 0;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: -20px;
}
