.armor {
  position: relative;
  opacity: 0;
  transition: opacity var(--durationM) var(--bezierFastoutSlowin);
  aspect-ratio: 1 / 2;

  &[data-loaded='true'] {
    opacity: 1;
  }
}

.armor__canvas {
  position: absolute;
  inset: 0;
}
