.volkihar__carousel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 70px;
  margin: 0;
}

.volkihar__text-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.volkihar__logo-container {
  --logoBackground: #111111;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--logoBackground);
  padding: 0 80px;
  width: 100%;
}

.volkihar__logo-container--light {
  padding: 60px 80px;
}

.volkihar__logo-container svg {
  max-width: 400px;
}

.volkihar__background-section {
  display: grid;
  grid-template-columns: 100%;
}

.volkihar__background-section .project__section {
  grid-column: 1;
  grid-row: 1;
}

.volkihar__background-section .project__section-content {
  padding: var(--space5XL) 0 calc(var(--space5XL) + var(--spaceL));
}

@media (max-width: 1680px) {
  .volkihar__background-section .project__section-content {
    padding: var(--space2XL) 0 var(--space4XL);
  }
}

@media (max-width: 1024px) {
  .volkihar__background-section .project__section-content {
    padding: var(--spaceXL) 0 var(--space2XL);
  }
}

@media (max-width: 696px) {
  .volkihar__background-section .project__section-content {
    padding: var(--spaceL) 0 var(--space2XL);
  }
}
