.displacement-sphere {
  position: absolute;
  width: 100vw;
  inset: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: var(--bezierFastoutSlowin);
}

.displacement-sphere--entering,
.displacement-sphere--entered {
  opacity: 1;
}
