.project-summary {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  padding-bottom: var(--spaceL);
  margin: 160px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.project-summary--first {
  margin-top: 0;
}

@media (min-width: 1600px) {
  .project-summary {
    margin: 40px 0;
  }
}

@media (max-width: 1024px) {
  .project-summary {
    height: auto;
    margin: 60px 0;
  }

  .project-summary--first {
    margin-top: 0;
  }
}

@media (max-width: 696px) {
  .project-summary {
    padding-bottom: var(--space4XL);
    margin-bottom: 0;
    overflow-x: hidden;
  }
}

.project-summary__content {
  width: 100%;
  max-width: var(--maxWidthL);
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 43% 55%;
  grid-column-gap: 2%;
}

.project-summary--alternate .project-summary__content {
  grid-template-columns: 55% 40%;
}

@media (max-width: 1245px) {
  .project-summary__content {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 1024px) {
  .project-summary--alternate .project-summary__content {
    grid-template-columns: 100%;
  }
}

@media (max-width: 1024px) {
  .project-summary__content {
    grid-template-columns: 100%;
    flex-direction: column-reverse;
    height: auto;
  }
}

.project-summary__details {
  flex: 0 0 410px;
  max-width: 410px;
  z-index: 1;
  position: relative;
}

@media (max-width: 1024px) {
  .project-summary__details {
    flex: 0 0 auto;
    max-width: 410px;
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
  }
}

.project-summary__preview {
  flex: 0 1 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.project-summary__preview-model-laptop {
  min-width: 100vw;
  min-height: 100vh;
  left: 60px;
  top: 10vh;
}

@media (max-width: 1600px) {
  .project-summary__preview-model-laptop {
    min-width: 120vw;
    min-height: 120vh;
    left: 120px;
    top: 8vh;
  }
}

@media (max-width: 1024px) {
  .project-summary__preview-model-laptop {
    min-width: 100vw;
    min-height: 80vw;
    left: 0;
    top: 8vh;
  }
}

@media (max-width: 696px) {
  .project-summary__preview-model-laptop {
    top: 7vh;
  }
}

.project-summary__preview-model-phone {
  min-width: 100vw;
  min-height: 100vh;
  left: -3vw;
  top: 4vh;
}

@media (max-width: 1600px) {
  .project-summary__preview-model-phone {
    min-height: 120vh;
    min-width: 120vw;
  }
}

@media (max-width: 1024px) {
  .project-summary__preview-model-phone {
    min-height: 100vw;
    min-width: 100vw;
    left: 0;
  }
}

.project-summary__svg {
  opacity: 0;
  transition: opacity 1200ms ease 1400ms;
  fill: var(--colorTextTitle);
}

.project-summary__svg--entered {
  opacity: var(--opacity);
}

.project-summary__svg--laptop {
  position: absolute;
  bottom: 16vh;
  right: -200px;
  width: 600px;
}

@media (max-width: 1600px) {
  .project-summary__svg--laptop {
    bottom: 22vh;
  }
}

@media (max-width: 1280px) {
  .project-summary__svg--laptop {
    bottom: 22vh;
  }
}

@media (max-width: 1024px) {
  .project-summary__svg--laptop {
    width: 400px;
    right: 64px;
    bottom: 1vh;
  }
}

@media (max-width: 696px) {
  .project-summary__svg--laptop {
    width: 260px;
    bottom: 10px;
  }
}

.project-summary__svg--phone {
  position: absolute;
  transform: translateY(260px);
  width: 600px;
  transition-delay: 800ms;
}

@media (max-width: 1024px) {
  .project-summary__svg--phone {
    width: 400px;
    transform: translateY(180px);
  }
}

@media (max-width: 696px) {
  .project-summary__svg--phone {
    width: 320px;
    transform: translateY(170px);
  }
}

.project-summary__index {
  position: relative;
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: var(--spaceM);
  align-items: center;
  margin-bottom: var(--spaceXL);
}

.project-summary__index-number {
  font-size: var(--fontSizeBodyS);
  font-weight: var(--fontWeightMedium);
  color: rgb(var(--rgbPrimary));
  transform: translateX(calc(var(--spaceM) * -1));
  opacity: 0;
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationM);
  transition-delay: 1.3s;
}

.project-summary__index-number--entered {
  transform: translateX(0);
  opacity: 1;
}

.project-summary__title {
  font-size: var(--fontSizeH2);
  font-weight: var(--fontWeightMedium);
  color: var(--colorTextTitle);
  line-height: var(--lineHeightTitle);
  margin: 0 0 var(--spaceL) 0;
  padding: 0;
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationM);
  transform: translate3d(0, var(--spaceL), 0);
  opacity: 0;
}

.project-summary__title--entered {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.project-summary__description {
  font-size: var(--fontSizeBodyL);
  line-height: var(--lineHeightBody);
  color: var(--colorTextBody);
  font-weight: var(--fontWeightRegular);
  margin: 0 0 var(--spaceXL) 0;
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationL);
  transform: translate3d(0, var(--spaceL), 0);
  opacity: 0;
}

.project-summary__description--entered {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.project-summary__button {
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationXL);
  transform: translate3d(0, var(--spaceL), 0);
  opacity: 0;
}

.project-summary__button--entered {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
