.project-item {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  padding-bottom: var(--spaceL);
  margin: 120px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.project-item--first {
  margin-top: 0;
}

@media (min-width: 1600px) {
  .project-item {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .project-item {
    height: auto;
    margin: 60px 0;
  }

  .project-item--first {
    margin-top: 0;
  }
}

@media (max-width: 696px) {
  .project-item {
    padding-bottom: var(--space4XL);
    margin-bottom: 0;
    overflow-x: hidden;
  }
}

.project-item--alternate .project-item__content {
  grid-template-columns: 55% 40%;
}

@media (max-width: 1024px) {
  .project-item--alternate .project-item__content {
    grid-template-columns: 100%;
  }
}

.project-item__content {
  width: 100%;
  max-width: var(--maxWidthL);
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 43% 55%;
  grid-column-gap: 2%;
}

@media (max-width: 1245px) {
  .project-item__content {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 1024px) {
  .project-item__content {
    grid-template-columns: 100%;
    flex-direction: column-reverse;
    height: auto;
  }
}

/* const ProjectItemContent = styled.div`
  width: 100%;
  max-width: var(--maxWidthL);
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 43% 55%;
  grid-column-gap: 2%;

  @media (max-width: 1245px) {
    grid-template-columns: 50% 50%;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 100%;
    flex-direction: column-reverse;
    height: auto;
  }
`; */

.project-item__details {
  flex: 0 0 410px;
  max-width: 410px;
  z-index: 1;
  position: relative;
}

@media (max-width: 1024px) {
  .project-item__details {
    flex: 0 0 auto;
    max-width: 410px;
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
  }
}

/* const ProjectItemDetails = styled.div`
  flex: 0 0 410px;
  max-width: 410px;
  z-index: 1;
  position: relative;

  @media (max-width: 1024px) {
    flex: 0 0 auto;
    max-width: 410px;
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
  }
`; */

.project-item__preview {
  flex: 0 1 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/*
const ProjectItemPreview = styled.div`
  flex: 0 1 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  height: 100%;
  width: 100%;
`; */

.project-item__preview-content-phone {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}

/* const ProjectItemPreviewContentPhone = styled.div`
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
`; */

.project-item__preview-content-laptop {
  position: relative;
}

@media (max-width: 1024px) {
  .project-item__preview-content-laptop {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*
const ProjectItemPreviewContentLaptop = styled.div`
  position: relative;

  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
`; */

.project-item__index {
  position: relative;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-gap: var(--spaceM);
  align-items: center;
  margin-bottom: var(--spaceXL);
}

/* const ProjectItemIndex = styled.div`
  position: relative;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-gap: var(--spaceM);
  align-items: center;
  margin-bottom: var(--spaceXL);
`; */

.project-item__index-number {
  font-size: var(--fontSizeBodyS);
  font-weight: var(--fontWeightMedium);
  color: rgb(var(--rgbPrimary));
  transform: translateX(calc(var(--spaceM) * -1));
  opacity: 0;
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationM);
  transition-delay: 1.3s;
}

.project-item__index-number--entered {
  transform: translateX(0);
  opacity: 1;
}

/* const ProjectItemIndexNumber = styled.span`
  font-size: var(--fontSizeBodyS);
  font-weight: var(--fontWeightMedium);
  color: rgb(var(--rgbPrimary));
  transform: translateX(calc(var(--spaceM) * -1));
  opacity: 0;
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationM);
  transition-delay: 1.3s;

  ${props =>
    props.status === 'entered' &&
    css`
      transform: translateX(0);
      opacity: 1;
    `}
`; */

.project-item__title {
  font-size: var(--fontSizeH2);
  font-weight: var(--fontWeightMedium);
  color: var(--colorTextTitle);
  line-height: var(--lineHeightTitle);
  margin: 0 0 var(--spaceL) 0;
  padding: 0;
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationM);
  transform: translate3d(0, var(--spaceL), 0);
  opacity: 0;
}

.project-item__title--entered {
  transform: none;
  opacity: 1;
}

/* const ProjectItemTitle = styled.h2`
  font-size: var(--fontSizeH2);
  font-weight: var(--fontWeightMedium);
  color: var(--colorTextTitle);
  line-height: var(--lineHeightTitle);
  margin: 0 0 var(--spaceL) 0;
  padding: 0;
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationM);
  transform: translate3d(0, var(--spaceL), 0);
  opacity: 0;

  ${props =>
    props.status === 'entered' &&
    css`
      transform: none;
      opacity: 1;
    `}
`; */

.project-item__description {
  font-size: var(--fontSizeBodyL);
  line-height: var(--lineHeightBody);
  color: var(--colorTextBody);
  font-weight: var(--fontWeightRegular);
  margin: 0 0 var(--spaceXL) 0;
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationL);
  transform: translate3d(0, var(--spaceL), 0);
  opacity: 0;
}

.project-item__description--entered {
  transform: none;
  opacity: 1;
}

/* const ProjectItemDescription = styled.p`
  font-size: var(--fontSizeBodyL);
  line-height: var(--lineHeightBody);
  color: var(--colorTextBody);
  font-weight: var(--fontWeightRegular);
  margin: 0 0 var(--spaceXL) 0;
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationL);
  transform: translate3d(0, var(--spaceL), 0);
  opacity: 0;

  ${props =>
    props.status === 'entered' &&
    css`
      transform: none;
      opacity: 1;
    `}
`; */

.project-item__button {
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationXL);
  transform: translate3d(0, var(--spaceL), 0);
  opacity: 0;
}

.project-item__button--entered {
  transform: none;
  opacity: 1;
}

/* const ProjectItemButton = styled.div`
  transition-property: transform, opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationXL);
  transform: translate3d(0, var(--spaceL), 0);
  opacity: 0;

  ${props =>
    props.status === 'entered' &&
    css`
      transform: none;
      opacity: 1;
    `}
`; */

.project-item__image-laptop {
  width: 862px;
  height: 531px;
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-delay: var(--durationM);
  transition-timing-function: var(--bezierFastoutSlowin);
  transform: translate3d(var(--spaceL), 0, 0);
  opacity: 0;
  position: relative;
  right: -140px;
}

.project-item__image-laptop--entered {
  transform: none;
  opacity: 1;
}

@media (min-width: 1440px) {
  .project-item__image-laptop {
    width: 880px;
    height: 542px;
  }
}

@media (max-width: 1280px) {
  .project-item__image-laptop {
    width: 761px;
    height: 491px;
  }
}

@media (max-width: 1024px) {
  .project-item__image-laptop {
    width: 420px;
    height: 258px;
    margin-bottom: var(--space5XL);
    right: 0;
  }
}

@media (max-width: 696px) {
  .project-item__image-laptop {
    width: 336px;
    height: 206px;
    margin-bottom: var(--space3XL);
  }
}

/* const ProjectItemImageLaptop = styled(Image)`
  width: 862px;
  height: 531px;
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-delay: var(--durationM);
  transition-timing-function: var(--bezierFastoutSlowin);
  transform: translate3d(var(--spaceL), 0, 0);
  opacity: 0;
  position: relative;
  right: -140px;

  ${props =>
    props.status === 'entered' &&
    css`
      transform: none;
      opacity: 1;
    `}

  ${props =>
    props.theme.themeId === 'light' &&
    css`
      z-index: 1;
    `}

  @media(min-width: 1440px) {
    width: 880px;
    height: 542px;
  }

  @media (max-width: 1280px) {
    width: 761px;
    height: 491px;
  }

  @media (max-width: 1024px) {
    width: 420px;
    height: 258px;
    margin-bottom: var(--space5XL);
    right: 0;
  }

  @media (max-width: 696px) {
    width: 336px;
    height: 206px;
    margin-bottom: var(--space3XL);
  }
`; */

.project-item__svg {
  opacity: 0;
  transition: opacity var(--durationM) ease var(--durationL);
  fill: var(--colorTextTitle);
}

.project-item__svg--entered {
  opacity: var(--opacity);
}

/* const ProjectItemSvg = styled(KatakanaProject)`
  opacity: ${props => (props.status === 'entered' ? 1 : 0)};
  transition: opacity var(--durationM) ease var(--durationL);
  fill: var(--colorTextTitle);

  ${props =>
    props.theme.themeId === 'light' &&
    css`
      opacity: ${props => (props.status === 'entered' ? 0.4 : 0)};
    `}
`; */

.project-item__svg--laptop {
  position: absolute;
  bottom: 40px;
  right: -200px;
  width: 600px;
}

.project-item__svg--laptop.project-item__svg--light {
  bottom: 60px;
}

@media (max-width: 1024px) {
  .project-item__svg--laptop {
    width: 400px;
    right: 0;
    bottom: 64px;
  }

  .project-item__svg--laptop--light {
    bottom: 50px;
  }
}

@media (max-width: 696px) {
  .project-item__svg--laptop {
    width: 260px;
    bottom: 10px;
  }

  .project-item__svg--laptop--light {
    bottom: -10px;
  }
}

/* const ProjectItemImageLaptopSvg = styled(ProjectItemSvg)`
  position: absolute;
  bottom: ${props => (props.theme.themeId === 'light' ? -60 : -40)}px;
  right: -200px;
  width: 600px;

  @media (max-width: 1024px) {
    width: 400px;
    right: 0;
    bottom: ${props => (props.theme.themeId === 'light' ? 50 : 64)}px;
  }

  @media (max-width: 696px) {
    width: 260px;
    bottom: ${props => (props.theme.themeId === 'light' ? -10 : 10)}px;
  }
`; */

.project-item__phone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-property: transform, opacity;
  width: 100%;
  max-width: 100%;
  flex: 1 0 100%;
  left: calc(-50% + 20px);
  top: 120px;
  transform: translate3d(0, 80px, 0);
  transition-delay: 0.2s;
}

.project-item__phone--entered {
  transform: none;
  opacity: 1;
}

.project-item__phone--first {
  left: calc(50% - 140px);
  top: -120px;
  transform: translate3d(0, 80px, 0);
  transition-delay: 0s;
}

@media (max-width: 1024px) {
  .project-item__phone {
    left: calc(-50% + var(--spaceL));
    top: 60px;
  }

  .project-item__phone--first {
    left: calc(50% - 48px);
    top: -60px;
  }
}

/* const ProjectItemPhone = styled.div`
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-property: transform, opacity;
  width: 100%;
  max-width: 100%;
  flex: 1 0 100%;

  ${props =>
    props.first
      ? css`
          left: calc(50% - 140px);
          top: -120px;
          transform: translate3d(0, 80px, 0);
          transition-delay: 0s;

          @media (max-width: 1024px) {
            left: calc(50% - 48px);
            top: -60px;
          }
        `
      : css`
          left: calc(-50% + 20px);
          top: 120px;
          transform: translate3d(0, 80px, 0);
          transition-delay: 0.2s;

          @media (max-width: 1024px) {
            left: calc(-50% + var(--spaceL));
            top: 60px;
          }
        `}

  ${props =>
    props.status === 'entered' &&
    css`
      transform: none;
      opacity: 1;
    `}
`; */

.project-item__phone-frame {
  position: absolute;
  width: 414px;
  height: 721px;
}

@media (max-width: 1024px) {
  .project-item__phone-frame {
    width: 248px;
    height: 431px;
  }
}

/* const ProjectItemPhoneFrame = styled(Image)`
  position: absolute;
  width: 414px;
  height: 721px;

  @media (max-width: 1024px) {
    width: 248px;
    height: 431px;
  }
`; */

.project-item__phone-image {
  box-shadow: 0 0 0 2px #1c1c1c;
  position: relative;
  top: -14px;
  width: 254px;
  height: 452px;
}

.project-item__phone-image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .project-item__phone-image {
    box-shadow: 0 0 0 1px #1c1c1c;
    width: 152px;
    height: 270px;
    top: -9px;
  }
}

/* const ProjectItemPhoneImage = styled(Image)`
  box-shadow: 0 0 0 2px #1c1c1c;
  position: relative;
  top: -14px;
  width: 254px;
  height: 452px;

  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1024px) {
    box-shadow: 0 0 0 1px #1c1c1c;
    width: 152px;
    height: 270px;
    top: -9px;
  }
`; */

.project-item__svg--phone {
  position: absolute;
  transform: translateY(260px);
  width: 600px;
}

@media (max-width: 1024px) {
  .project-item__svg--phone {
    width: 400px;
    transform: translateY(180px);
  }
}

@media (max-width: 696px) {
  .project-item__svg--phone {
    width: 320px;
    transform: translateY(160px);
  }
}

/* const ProjectItemPhoneImageSvg = styled(ProjectItemSvg)`
  position: absolute;
  transform: translateY(260px);
  width: 600px;

  @media (max-width: 1024px) {
    width: 400px;
    transform: translateY(180px);
  }

  @media (max-width: 696px) {
    width: 320px;
    transform: translateY(160px);
  }
`; */
