.uses {
  --maxWidthL: var(--maxWidthM);
}

.section {
  opacity: 0;
  padding-top: var(--space2XL);
  padding-bottom: var(--space2XL);
  margin-top: var(--space2XL);

  &:global {
    animation: fade-in 1s ease 1s forwards;
  }

  + & {
    margin-top: 0;
  }
}
