@layer base {
  @keyframes :global(fadeIn) {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes :global(reveal) {
    0% {
      transform: scale3d(0, 1, 1);
      transform-origin: left;
    }

    50% {
      transform: scale3d(1, 1, 1);
      transform-origin: left;
    }

    51% {
      transform: scale3d(1, 1, 1);
      transform-origin: right;
    }

    100% {
      transform: scale3d(0, 1, 1);
      transform-origin: right;
    }
  }
}
