@layer base {
  :global(:root) {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  :global(:where(html, body)) {
    min-height: 100%;
    width: 100%;
  }

  :global(:where(*, *::before, *::after)) {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
  }

  :global(:where(input, textarea, select, button)) {
    font: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    appearance: none;
  }

  :global(:where(button, a)) {
    touch-action: manipulation;
  }

  :global(:where(svg, img, picture, video, iframe, canvas)) {
    display: block;
  }

  :global(:any-link) {
    text-decoration: none;
  }

  :global(ul) {
    padding: 0;
  }
}
