@layer layout {
  .container {
    width: 100%;
    position: relative;
    transition: opacity 0.4s var(--bezierFastoutSlowin);

    &[data-loading='true'] {
      opacity: 0;
    }
  }

  .skip {
    isolation: isolate;
    color: var(--background);
    z-index: var(--zIndex4);

    &:focus {
      padding: var(--spaceS) var(--spaceM);
      position: fixed;
      top: var(--spaceM);
      left: var(--spaceM);
      text-decoration: none;
      font-weight: var(--fontWeightMedium);
      line-height: 1;
      box-shadow: 0 0 0 4px var(--background), 0 0 0 8px var(--text);
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--primary);
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        0 100%
      );
      z-index: -1;
    }
  }
}
