.earth {
  position: relative;
  background-color: rgb(var(--rgbBackground));
  display: grid;
  place-content: center;
}

.earth__loader {
  transition: opacity var(--durationL) var(--bezierFastoutSlowin);
  opacity: 0;
  grid-area: 1 / 1;
  place-self: center;
  margin-top: 40vh;
  position: sticky;
  top: 50vh;

  &[data-status='entering'],
  &[data-status='entered'] {
    opacity: 1;
  }
}

.earth__viewport {
  grid-area: 1 / 1;
  display: grid;
  grid-template: 100% / 100%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.earth__canvas {
  grid-area: 1 / 1;
  transition: opacity 1.6s var(--bezierFastoutSlowin) 1.6s;
  outline: none;
  opacity: 0;
  cursor: grab;

  @media (pointer: coarse) {
    & {
      pointer-events: none;
    }
  }

  &[data-grabbing='true'] {
    cursor: grabbing;
  }

  &[data-visible='true'] {
    opacity: 1;
  }
}

.earth__labels {
  grid-area: 1 / 1;
  pointer-events: none;
}

.earth__label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeBodyXS);
  text-shadow: 0 0 3px rgb(var(--rgbBlack)), 0 0 5px rgb(var(--rgbBlack)),
    0 0 20px rgb(var(--rgbBlack));
  transition: opacity var(--durationM) ease;
  transition-delay: var(--delay);
  font-family: var(--systemFontStack);

  &[data-occluded='true'] {
    opacity: 0.2;
    text-shadow: none;
  }

  &[data-hidden='true'] {
    opacity: 0;
    transition-delay: 0ms;
  }
}

.earth__vignette {
  grid-area: 1 / 1;
  position: relative;
  pointer-events: none;
}

.earth__sections {
  pointer-events: none;
  position: relative;
  margin-top: -100vh;
}

.earth__section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 6px rgb(var(--rgbBlack));
  overflow-x: hidden;

  &[data-scrim='true'] {
    background: linear-gradient(
      rgb(var(--rgbBackground)),
      rgb(var(--rgbBackground) / 0.7),
      transparent
    );
  }

  &[data-scrim-reverse='true'] {
    background: linear-gradient(
      transparent,
      rgb(var(--rgbBackground) / 0.7),
      rgb(var(--rgbBackground))
    );
  }
}
