.header {
  --headerNavFontSize: calc((16 / 16) * 1rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  width: var(--space2XL);
  position: fixed;
  top: var(--spaceOuter);
  left: var(--spaceOuter);
  bottom: var(--spaceOuter);
  z-index: 1024;
}

@media (max-width: 696px) {
  .header {
    --headerNavFontSize: calc((22 / 16) * 1rem);
  }
}

@media (max-width: 696px), (max-height: 696px) {
  .header {
    bottom: auto;
  }
}

.header__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header__logo {
  display: flex;
  position: relative;
  padding: var(--spaceS) var(--spaceS) var(--spaceL);
  z-index: 16;
}

.header__logo:focus {
  box-shadow: 0 0 0 4px rgb(var(--rgbBackground)), 0 0 0 8px rgb(var(--rgbText));
  outline: none;
}

.header__logo:active {
  box-shadow: none;
}

@media (max-width: 696px) {
  .header__logo {
    padding-bottom: var(--spaceS);
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  max-width: var(--space2XL);
  position: relative;
  top: calc(var(--spaceM) * -1);
}

@media (max-width: 696px), (max-height: 696px) {
  .header__nav {
    display: none;
  }
}

.header__nav-list {
  transform: rotate(-90deg) translate3d(-50%, 0, 0);
  display: flex;
  flex-direction: row-reverse;
}

.header__nav-link {
  padding: var(--spaceM);
  color: rgb(var(--rgbText) / 0.8);
  font-weight: var(--fontWeightMedium);
  font-size: var(--headerNavFontSize);
  text-decoration: none;
  position: relative;
  transition: color var(--durationS) ease 0.1s;
  line-height: 1;
}

.header__nav-link:hover,
.header__nav-link:active,
.header__nav-link:focus,
.header__nav-link--active {
  color: var(--colorTextBody);
}

.header__nav-link::after {
  content: '';
  position: absolute;
  top: 50%;
  right: var(--spaceS);
  left: var(--spaceS);
  height: 4px;
  background: rgb(var(--rgbAccent));
  transform: scaleX(0) translateY(-2px);
  transition: transform var(--durationM) var(--bezierFastoutSlowin);
  transform-origin: right;
}

.header__nav-link:hover:after,
.header__nav-link:active:after,
.header__nav-link:focus:after,
.header__nav-link--active:after {
  transform: scaleX(1) translateY(-2px);
  transform-origin: left;
}

.header__nav-link:focus {
  box-shadow: 0 0 0 4px rgb(var(--rgbBackground)), 0 0 0 8px rgb(var(--rgbText));
  outline: none;
}

.header__nav-link:active {
  box-shadow: none;
}

.header__nav-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 16;
}

@media (max-width: 696px), (max-height: 696px) {
  .header__nav-icons {
    flex-direction: row;
    position: absolute;
    bottom: var(--spaceXL);
    left: var(--spaceXL);
  }
}

@media (max-width: 820px) and (max-height: 420px) {
  .header__nav-icons {
    left: var(--spaceL);
    transform: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.header__nav-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spaceS);
  width: var(--space2XL);
  height: var(--space2XL);
  color: var(--colorTextLight);
  transition: color var(--durationM) var(--bezierFastoutSlowin);
}

.header__nav-icon-link:focus {
  box-shadow: 0 0 0 4px rgb(var(--rgbBackground)), 0 0 0 8px rgb(var(--rgbText));
  outline: none;
}

.header__nav-icon-link:active {
  box-shadow: none;
}

.header__nav-icon-link:hover,
.header__nav-icon-link:focus,
.header__nav-icon-link:active {
  color: rgb(var(--rgbAccent));
}

.header__nav-icon {
  fill: currentColor;
  transition: fill var(--durationM) ease;
}

.header__mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(var(--rgbBackground) / 0.9);
  transform: translate3d(0, -100%, 0);
  transition-property: transform, background;
  transition-duration: var(--durationL);
  transition-timing-function: var(--bezierFastoutSlowin);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(var(--spaceM));
}

@media (max-width: 696px), (max-height: 696px) {
  .header__mobile-nav {
    display: flex;
  }
}

.header__mobile-nav--entered {
  transform: translate3d(0, 0, 0);
}

.header__mobile-nav-link {
  width: 100%;
  font-size: var(--headerNavFontSize);
  text-align: center;
  text-decoration: none;
  color: var(--colorTextBody);
  padding: var(--spaceL);
  transform: translate3d(0, calc(var(--spaceXL) * -1), 0);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: var(--durationS);
  transition-timing-function: var(--bezierFastoutSlowin);
  position: relative;
  top: calc(var(--spaceM) * -1);
}

@media (max-width: 820px) and (max-height: 420px) {
  .header__mobile-nav-link {
    top: auto;
  }
}

@media (max-width: 400px), (max-height: 360px) {
  .header__mobile-nav-link {
    --headerNavFontSize: calc((18 / 16) * 1rem);
  }
}

.header__mobile-nav-link--entered {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.header__mobile-nav-link::after {
  content: '';
  position: absolute;
  top: 50%;
  right: var(--space3XL);
  left: var(--space3XL);
  height: 4px;
  background: rgb(var(--rgbAccent));
  transform: scaleX(0) translateY(-1px);
  transition: transform var(--durationM) var(--bezierFastoutSlowin);
  transform-origin: right;
}

.header__mobile-nav-link:hover:after,
.header__mobile-nav-link:active:after,
.header__mobile-nav-link:focus:after {
  transform: scaleX(1) translateY(-1px);
  transform-origin: left;
}

.header__mobile-nav-link:focus {
  box-shadow: 0 0 0 4px rgb(var(--rgbBackground)), 0 0 0 8px rgb(var(--rgbText));
  outline: none;
}

.header__mobile-nav-link:active {
  box-shadow: none;
}
