.Background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Background canvas {
  position: absolute;
}

.Intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Intro__text {
  max-width: 680px;
  width: 100%;
  position: relative;
  top: -20px;
  padding: 0 20px;
}

.Intro__name {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 60px;
  margin-top: 0;
}

.Intro__title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  margin: 0;
  letter-spacing: -0.005em;
}

.Intro__title-word--line {
  display: flex;
  align-items: center;
}

.Intro__title-word--line:after {
  content: '';
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  width: 120%;
  display: flex;
  margin-left: 20px;
}

.Intro__title-word--plus {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.4);
}

.Intro__title-row {
  display: flex;
  flex-direction: row;
}
