@font-face {
  font-family: 'Gotham';
  src: url('Fonts/gotham-medium.woff2') format('woff2');
}

html,
body {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'Gotham', sans-serif;
  background: #111111;
  color: white;
  border: 0;
  margin: 0;
}

html * {
  box-sizing: border-box;
}
